<h1> <striong> Wait! </striong> Are you sure you want to cancel your subscription to <strong> PIGDGET? </strong> </h1>

<form action="/cancel_subforsure">
    <input type="submit" value="Yes" />
</form>


<form action="/">
    <input type="submit" value="No, take me back to Pigdget!" />
</form>