<h1> You are unsubscribing from pigdget. </h1>
<h2> Enter your email and password to unsubscribe. </h2>

<form action="/cancel" method="POST">
	Email: <input type="text" name="email"><br/>
	Password: <input type="password" name="password"><br/></br>
	<input type="submit" value="Unsubscribe">
</form>