
	<div style="margin-top":10px" class="form-group">
	<div class="col-sm-12 controls">

	<h1> Signing up for PIGDGET! </h1>
	<p> Basic Pigdget features </p>

	<form action="register" method="POST">
	Email: <input type="text" name="email"><br/>
	Password: <input type="password" name="password"><br/></br>
	<input type="submit" value="Sign Up">
	</br>
	</div>
	</div>

	</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
	</TD></TR></TABLE></FORM></DIV></TD></TR></TABLE></DIV></TD></TR><TR class="bottom"><TD>&nbsp;</TD></TR>
	</TABLE></DIV></DIV></DIV></DIV></DIV></DIV></DIV></DIV></DIV></DIV></TD></TR></TABLE>
	</DIV></DIV></TD></P></TD></TR><TR><TD>Powered by ASAP CORE Business Technologies</DIV>