<!DOCTYPE html>
<html lang="en">

 <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Welcome to Pigdget!</h1>
    <p>What is Pigdget? Pigdget is a simple, easy to use budget application that encourages you to save and keep track of your money! The difference between Pigdget and other apps is that Pigdget actually motivates you to save!</p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">

    <div class="col-md-4">
      <h2>Easy to Use!</h2>
      <p>Our Pigdget is a budget/savings app that will attempt to motivate you to save money by discouraging you to spend while encouraging you to save! </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>

    <div class="col-md-4">
    <h2>Fully Responsive!</h2>
      <p>Our team will always be around to assist with any problems that you may have. We are a helpful friendly service so don't be afraid to ask for help with our product!. </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>

    <div class="col-md-4">
      <h2>Trustworthy!</h2>
      <p>Our Pigdet budget application has been nominated as the most trustworthy budget app for helping customers save while keeping their information safe!</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

</div> 
    <!-- Testimonials -->
    <section class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5">What people are saying...</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              
              <h5>J. Cole</h5>
              <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys! Cole World!"</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <h5>K. Lamar</h5>
              <p class="font-weight-light mb-0">"Pigdget is just absolutely amazing. It's been encouraging me to budget and save all of my album money."</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <h5>Drake</h5>
              <p class="font-weight-light mb-0">"Thanks so much for this application! Great job! I guess this product was "God's Plan" haha"!</p>
            </div>
          </div>
        </div>
      </div>
    </section>
      

    <!-- Footer -->
  <br></br>
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="#">About</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Contact</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; Pigdget 2018. All Rights Reserved.</p>
            <div style="clear: both"></div>
          </div>






          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-twitter fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

  
</html>