<!DOCTYPE html>
<html>
<head>
	 <meta charset="UTF-8">
    <title>Plaid Walkthrough Example</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<% @transactions.each do |trans, x| %>
	<h2><%= trans.trans_amount %></h2>
	<h3><%= trans.trans_type %></h3>
	<%end%>
</body>
</html>